<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = 'CSS/login.css' rel = 'stylesheet'>
    <title>login</title>
   
</head>
<body>
    
    <div class="contenedor">

        <section class="contenedorS">
            <h2>Formulario de registro</h2>
            <form class="form" action="">
                <fieldset>
                    <legend>Iniciar Sesion</legend>

                    <div class="contenedorDiv">

                        <div class="campo">
                            <label for="">Nombre de usuario</label>
                            <input type="text" name="nombre" class="nombre" placeholder="Usuario">
                        </div>

                        <div class="campo">
                            <label for="">Contraseña</label>
                            <input type="text" name="nombre" class="nombre" placeholder="Contraseña">
                        </div>


                    </div>

                    <div class="boton">
                            <h3>
                                <a href="./home.html" class="button">Iniciar Sesion</a>
                            </h3>
                            <h4>
                                <a href="./register.html" class="button">¿No tienes cuenta? ¡Registrate!</a>
                            </h4>
                            
                    </div>
                </fieldset>

            </form>

        </section>  

    </div>

</body>
</html>