<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = 'CSS/register.css' rel = 'stylesheet'>
    <title>register</title>
</head>
<body>
    
    <div class="contenedor">

        <section class="contenedorS">
            <h2>Formulario de registro</h2>
            <form class="form" action="">
                <fieldset>
                    <legend>Registrate</legend>

                    <div class="contenedorDiv">

                        <div class="campo">
                        <label for="">Nombre y apellido</label>
                        <input type="text" name="nombre" class="nombre" placeholder="Tu nombre">
                        </div>

                        <div class="campo">
                            <label for="">Nombre de usuario</label>
                            <input type="text" name="nombre" class="nombre" placeholder="Tu usuario">
                        </div>

                        <div class="campo">
                            <label for="">Fecha de nacimiento</label>
                            <input type="date" name="date" class="nombre" placeholder="Fecha">
                            </div>

                        <div class="campo">
                            <label for="">Domicilio</label>
                            <input type="text" name="nombre" class="nombre" placeholder="Tu Domicilio">
                        </div>

                    </div>

                    <div class="contenedorPerfil">

                    <legend class="legend2">Perfil de usuario</legend>

                    
                        <input type="checkbox"/>Comprador <br/><br/>
                        <input type="checkbox"/>Vendedor <br/><br/>

                    <legend class="legend2">Intereses</legend>

                        <input type="checkbox"/>Electro<br/><br/>
                        <input type="checkbox"/>Moda <br/><br/>
                        <input type="checkbox"/>Hogar <br/><br/>
                        <input type="checkbox"/>Jugueteria <br/><br/>
                        <input type="checkbox"/>Vida sana <br/><br/>
                    </div>

                </fieldset>

            </form>

        </section>

    </div>

</body>
</html>